@import "@styles";

.header {
  position: fixed;
  top: 0;
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
  z-index: 1000;
  background-color: var(--background);
  border-bottom: 2.5px solid var(--borderColor);
  height: clamp(2.7em, 3vw, 3em);
  transition: 0.25s ease-in-out;
  &.hidden {
    transform: translateY(-100%);
  }

  &.visible {
    transform: translateY(0);
  }

  .header-logo {
    font-size: clamp(1.4rem, 1.8vw, 2rem);
    margin: 20px 30px;
    font-weight: bold;
    text-decoration: none;
    color: var(--textColor);
    transition: all 0.3s ease;
    @media (max-width: 772px) {
      display: none;
    }

    .header-logo-name {
      font-family: "Megrim";
      transition: all 0.3s ease;
    }
  }

  .header-logo:hover {
    .header-logo-name {
      color: var(--backgroundSecondaryColor);
    }
  }

  .header-menu {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    gap: 20px;

    &.open {
      right: 0;
    }

    li {
      text-align: center;
      padding-right: 10px;

      a {
        display: block;
        padding: clamp(0.4em, 0.5vw, 0.5em) 25px;
        text-decoration: none;
        color: var(--textColor);
        border-radius: 10px;
        font-size: clamp(0.95rem, 1.18vw, 1.4rem);

        &:hover,
        &:focus {
          background-color: var(--backgroundSecondaryColor);
          color: var(--background);
          transition: all 0.25s ease-in-out;
        }
      }
    }

    @media (max-width: 772px) {
      position: fixed;
      top: 2.81em;
      right: -210px;
      height: 100vh;
      width: 210px;
      background-color: var(--background);
      border-left: 2.5px solid var(--borderColor);
      flex-direction: column;
      padding-top: 40px;
      overflow-y: auto;
      transition: right 0.25s ease-in-out;

      li {
        a {
          font-size: clamp(0.85rem, 1.3vw, 3rem);
        }
      }
    }
  }

  .header-menu-icon {
    display: none;

    @media (max-width: 772px) {
      display: block;
      position: absolute;
      top: 1.35rem;
      right: 3em;
      cursor: pointer;
      transform: scale(0.95);

      .navicon {
        background: var(--textColor);
        position: absolute;
        transition: all 0.25s ease-in-out;

        &:before,
        &:after {
          content: "";
          display: block;
          height: 2.5px;
          background: var(--textColor);
          position: absolute;
          width: 28px;
          transition: all 0.25s ease-in-out;
        }

        &:before {
          top: -6px;
        }

        &:after {
          top: 6px;
        }
      }

      &.open .navicon {
        background: transparent;

        &:before {
          transform: rotate(-45deg);
          top: 0;
        }

        &:after {
          transform: rotate(45deg);
          top: 0;
        }
      }
    }
  }

  @media (min-width: 772px) {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .header-menu {
      flex-direction: row;
      position: static;
      height: auto;
      width: auto;
    }

    .header-menu-icon {
      display: none;
    }
  }

  .header-menu-btn {
    display: none;

    &:checked ~ .header-menu {
      right: 0;
    }

    &:checked ~ .header-menu-icon .navicon {
      background: transparent;

      &:before {
        transform: rotate(-45deg);
        top: 0;
      }

      &:after {
        transform: rotate(45deg);
        top: 0;
      }
    }
  }
}
