@use "../../styles.scss" as *;

.social-media {
  font-size: clamp(1rem, 1.45vw, 1.55rem);
  display: flex;
  justify-content: center;
  padding: 15px 15px 15px;
  border: 2.5px solid $borderColor;
  border-radius: 25px;

  p {
    margin: 0;
  }
}

.icon-button {
  display: inline-flex;
  align-items: center;
  text-decoration: none;
  color: $textColor;
  cursor: pointer;
  margin: 0 4px;
}

.icon-button fa-icon {
  display: inline-block;
  vertical-align: middle;
  margin: 0;
  padding: 0;
}

.icon-button.linkedin:hover fa-icon {
  color: $socialMediaHoverBG;
  transition: 0.2s ease-in;
}

.icon-button.github:hover fa-icon {
  color: $socialMediaHoverBG;
  transition: 0.2s ease-in;
}

@media (max-width: 768px) {
  .social-media {
    text-align: center;
  }
}