@use "../../styles.scss" as *;

.social-media-div {
  font-size: clamp(1.1em, 1.3vw, 2.5em);
  display: flex;
  justify-content: center;
  padding: 20px 20px 20px;
  border: 2.5px solid $borderColor;
  border-radius: 20px;
}

 i {
  color: $textColor;
  cursor: pointer;
  display: inline-block;
  margin: 0 8px;
}

.github i:hover, .linkedin i:hover {
  color: $socialMediaHoverBG;
  transition: 0.2s ease-in;
}

@media (max-width: 768px) {
  .social-media-div {
    text-align: center;
  }
}