@use "../../styles.scss" as *;

.projects-section {
  margin: 0 auto;
  width: 90%;
  padding: 20px 10px;
  overflow: hidden;
  border-bottom: 3px solid $borderColor;
  border-top: 3px solid $borderColor;
}

.projects-header {
  font-size: clamp(0.7rem, 1.1vw, 1.15rem);
  margin-bottom: 2rem;
}

.projects-grid {
  align-items: center;
  z-index: 1;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

.project-card {
  border-radius: 15px;
  overflow: hidden;
  background-color: $background;
  border: 3px solid $borderColor;
  transition: all 0.4s cubic-bezier(0.25, 1, 0.35, 1);
  margin-bottom: 45px;

  &:hover {
    transform: scale(1.02);
    box-shadow: 0px 0px 6px 0px $boxShadow;

    .project-image img {
      transform: scale(1.1) rotate(2deg);
    }

    .project-overlay {
      opacity: 1;
    }
  }
}

.project-image {
  height: 180px;
  position: relative;
  overflow: hidden;
  border-bottom: 3px solid $borderColor;

  img {
    width: 100%;
    height: 100%;
    opacity: 75%;
    object-fit: cover;
    transition: transform 0.6s ease;
  }
}

.project-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.4s ease;
}

.project-link {
  color: $background;
  background-color: $backgroundSecondaryColor;
  text-decoration: none;
  font-weight: 700;
  font-size: clamp(0.75rem, 1vw, 1.35rem);
  padding: 0.8rem 1.5rem;
  border: 3px solid $backgroundSecondaryColor;
  border-radius: 30px;
  transition: all 0.3s ease;
  text-transform: uppercase;
  letter-spacing: 1px;

  &:hover {
    transform: scale(1.07);
  }
}

.project-content {
  padding: 1.35rem;
}

.project-title {
  font-size: clamp(0.9rem, 1.2vw, 1.3rem);
  color: $textColor;
  margin-bottom: 0.8rem;
}

.project-description {
  line-height: 1.2;
  font-size: clamp(0.75rem, 0.9vw, 1.05rem);
  color: $textColor;
  padding-bottom: 1rem;
  margin-bottom: 1rem;
  line-height: 1.5;
  border-bottom: 3px solid $borderColor;
}

.project-tags {
  display: flex;
  flex-wrap: wrap;
  gap: 0.6rem;

  .tag {
    background-color: $background;
    border: 2.5px solid $borderColor;
    color: $textColor;
    padding: 0.25rem 0.75rem;
    font-size: clamp(0.7rem, 1vw, 0.9rem);
    transition: all 0.3s ease;

    &:hover {
      box-shadow: 0px 0px 12px 0px $boxShadow;
    }
  }
}

.projects-button {
  background-color: $background;
  text-decoration: none;
  color: $textColor;
  font-weight: 600;
  width: max-content;
  padding: 16px 25px;
  text-transform: uppercase;
  border-radius: 15px;
  border: 2.5px solid $borderColor;
  text-align: center;
  text-decoration: none;
  margin: 0 auto;
  display: block;
  margin-bottom: 25px;
  font-size: clamp(0.8rem, 1vw, 1rem);
  cursor: pointer;
  transition: all 0.3s ease;
}
.projects-button:hover {
  transform: scale(1.05);
  box-shadow: 0px 0px 12px 0px $boxShadow;
}

@media (max-width: 1200px) {
  .projects-section {

    .projects-grid {
      grid-template-columns: 1fr;
      gap: 2rem;
    }

  }

}

@media (max-width: 768px) {
  .projects-header {
    margin-top: -20px;
  }
  .project-overlay  {
    opacity: 1;
  }
}