@use "../../styles.scss" as *;

.typed-output {
  min-height: 24px;
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-size: clamp(0.95rem, 1.2vw, 1.45rem);
  color: $backgroundSecondaryColor;
  border-right: .15em solid $backgroundSecondaryColor;
  padding-right: 2px;
  display: inline-block;
  animation: blink .5s step-end infinite alternate;
  white-space: nowrap;
  overflow: hidden;
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}