/* Change colors in this file to style to your needs on a global level. 
Certain colors are used for different and multiply types of elements. 
For greater control over colors visit each components .scss file. */

// button colors
$buttonColor: orange;
$buttonHover: orange;

// text
$textColor: #F5F5F5;
$subTitle: #F5F5F5;
$appLink: #F5F5F5;

// box shadows
$boxShadow: orange;


// borders
$progressBarBackground: rgb(243, 239, 239);
$borderColor: orange;

// hovers
$headerHoverBG: #8c43ce;
$contactDetailHoverTS: #b5b5b5;
$socialMediaHoverBG:#b99606;

// backgrounds
$background: #141414;
$backgroundSecondaryColor: orange;
$appHeaderBG: #282c34;

// social media icons
$linkedin: #0e76a8;
$github: #333;