/* Change colors in this file to style to your needs on a global level. 
Certain colors are used for different and multiply types of elements. 
For greater control over colors visit each components .scss file. */

// button colors
$buttonColor: #f8b400;
$buttonHover: #f8b400;

// text
$textColor: #F5F5F5;
$subTitle: #F5F5F5;
$appLink: #F5F5F5;

// box shadows
$boxShadow: #f8b400;


// borders
$progressBarBackground: rgb(243, 239, 239);
$borderColor: #f8b400;

// hovers
$headerHoverBG: #8c43ce;
$contactDetailHoverTS: #b5b5b5;
$socialMediaHoverBG:#f8b400;

// backgrounds
$background: #1c1c20;
$backgroundSecondaryColor: #f8b400;
$appHeaderBG: #f8b400;
$appHeaderTextColor: #1c1c20;

// social media icons
$linkedin: #0e76a8;
$github: #333;