@use "../../styles.scss" as *;

.greeting-main {
  width: 90%;
  padding: 20px 10px;
  margin: 0px auto;
  margin-top:4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 3px solid $borderColor;
}

.greeting-main > * {
  flex: 1;
  margin-bottom: 30px;
}

.greeting-header {
  font-size: clamp(1.15rem, 2.7vw, 2.5rem);
  line-height: 1.1;
  color: $textColor !important;
  margin: auto;
  align-content: center;
  width: 23ch;
  overflow: hidden;
  margin-bottom: 0;
  font-family: 'JetBrains Mono', monospace;
  white-space: nowrap;

  span {
    color: $backgroundSecondaryColor;
  }
}

.subtitle {
  margin-top: -0.5rem;
  font-size: clamp(0.85rem, 1.2vw, 1.35rem);
  line-height: 120%;
  color: $subTitle !important;
}

.greeting-image  {

  img {
    width: 68%;
    max-width: 900px;
    height: auto;
    margin-left: 20%;
    border-radius: 50%;
    object-fit: cover;
  }
}

@media (min-width: 2300px) {
  .greeting-image  {
    img {
      margin-top: 6rem;
    }
  }
}


@media (min-width: 1800px) {
  .greeting-image  {
    img {
      margin-top: 3rem;
    }
  }

}

@media (min-width: 1200px) {
  .greeting-image  {
    img {
      margin-top: 2rem;
    }
  }

}

@media (max-width: 1200px) {
  .greet-main {
    margin-top:5em;
    margin-bottom: -1rem;
  }
  .greeting-main {
    display: block;
  }
  
  .greeting-image {
    margin-left: 20%;
    width: 50%;
    min-width: 350px;
    img {
      margin-bottom: -1rem;
    }
  }
}

@media (max-width: 768px) {
  
  .button-greeting-div {
    justify-content: space-around;
  }
  .greeting-header {
    text-align: center;
  }
  .subtitle {
    line-height: normal;
    text-align: center;
  }
  .greeting-main {
    display: block;
    margin-bottom: -0.6rem
  }
  .greeting-image {
    height: 256px;
    min-width: 350px;
    margin: 0 auto;
  }
  .greeting-image > img{
    margin: 0;
  }
}

@media (max-width: 590px) {
  .main {
    width: auto;
  }

  .greeting-text a, img {
    width: 300px;
  }
}

@media (max-width: 392px) {
  .greeting-image {
    min-width: 280px;
  }

  .greet-main {
    margin-bottom: -4rem;
  }
}

@media (max-width: 315px) {
  .greeting-image {
    opacity: 0%;
    width: 0;
    height: 0;
  }
}