<div class="greet-main" id="greeting">
  <div class="greeting-main">
    <div class="greeting-text-div">
      <header>
        <h1 class="greeting-header css-typing">
          {{ "Hello World!" }}.{{ greeting.title }}
        </h1>
      </header>
      <a href="https://github.com/DenverCoder1/readme-typing-svg"
        ><img
          src="https://readme-typing-svg.herokuapp.com?lines=Computer+Science+Engineer;Competitive+Programmer;Always+learning+new+things;Agile+development+lover;Tester-fearing+man&center=true&width=500&height=50&color=fbc901"
      /></a>
      <p class="greeting-text-p subTitle">
        {{ greeting.subTitle }}
      </p>
      <app-social-media></app-social-media>
    </div>
    <div class="greeting-image-div">
      <img alt="avatar" [src]="greeting.welcomeAvatar" />
    </div>
  </div>
</div>
