@use "../../styles.scss" as *;

.experience-main {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100%;
  padding: 35px 6%;
}

.row {
  display: grid;
  grid-template-columns: 1fr;
  column-gap: 25px;
}

.experiences-heading {
  font-size: clamp(0.65em, 1.1vw, 3em);
}

.timeline-title {
  padding: 50px 0px 20px 0px;
}

.col .timeline-content {
  padding: 0px 20px;
  border-left: 2px solid $borderColor;
}

.col .timeline-content .timeline-box {
  position: relative;
  background: $background;
  cursor: pointer;
  transition: all 0.4s;
}

.col .timeline-content .timeline-box:hover {
  box-shadow: 0px 0px 12px 0px  $boxShadow;
}

.col .timeline-content .timeline-box::before {
  content: '';
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  right: calc(100% + 9px);
  top: -3px;
  background-color: $backgroundSecondaryColor;
  border: 2px solid $borderColor;
}

.timeline-box {
  display: flex;
  margin-bottom: 45px;
}

.timeline-box-description {
  flex-direction: column;
  flex: 1;
  align-content: center;
  white-space: nowrap;
  border: 2px solid $borderColor;
}

.timeline-title h2 {
  font-size: clamp(1.2em, 1.2vw, 2.8em);
}

.timeline-box h3 {
  font-size: clamp(0.8em, 1.2vw, 2.8em);
}

.timeline-box h4 {
  font-size: clamp(0.75em, 1.2vw, 2.8em);
}

.timeline-box h5 {
  font-size: clamp(0.75em, 1.2vw, 2.8em);
}

.timeline-box a {
  color: $borderColor;
}

.timeline-box li {
  line-height: 1.2;
  font-size: clamp(0.85em, 1vw, 2.8em);
}

.timeline-box-list {
  text-align: left;
  list-style: none;
  flex: 2;
  border: 2px solid $borderColor;
  padding-right: 8px;
  font-size: clamp(0.85em, 1vw, 2.8em);
}

.timeline-box-keynotes {
  list-style: square;
  margin: 10px 0;
}

@media(max-width: 768px) {

  .timeline-box {
    flex-direction: column;
  }

}