@use "../../styles.scss" as *;

.experience-section {
  box-sizing: border-box;
  margin: 0 auto;
  width: 91%;
  padding: 20px 10px;
}

.row {
  display: grid;
  grid-template-columns: 1fr;
  column-gap: 25px;
}

.experience-heading {
  font-size: clamp(0.7rem, 1.1vw, 1.15rem);
}

.timeline-title {
  padding: 25px 0px 20px 0px;
  font-size: clamp(0.9rem, 1.2vw, 1.25rem);
}

.experience-column .timeline-content {
  padding: 0px 20px;
  border-left: 3px solid $borderColor;
}

.experience-column .timeline-content .timeline-box {
  position: relative;
  background: $background;
  cursor: pointer;
  transition: all 0.4s;
}

.experience-column .timeline-content .timeline-box:hover {
  box-shadow: 0px 0px 12px 0px $boxShadow;
  border-radius: 20px;
}

.experience-column .timeline-content .timeline-box::before {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  right: calc(100% + 9px);
  top: calc(46%);
  background-color: $backgroundSecondaryColor;
  border: 3px solid $borderColor;
}

.timeline-box {
  display: flex;
  margin-bottom: 45px;
  border-radius: 20px;
}

.timeline-box-description {
  flex-direction: column;
  flex: 1;
  align-content: center;
  white-space: nowrap;
  border: 3px solid $borderColor;
  border-right: none;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  padding: 10px 10px;

  h4 {
    font-size: clamp(0.8rem, 1vw, 1rem);

    a {
      position: relative;
      text-decoration: none;
    }

    a::after {
      content: "";
      position: absolute;
      bottom: -5px;
      left: 50%;
      width: 0;
      height: 3px;
      background-color: $backgroundSecondaryColor;
      transition: width 0.4s ease, left 0.4s ease;
    }

    a:hover::after {
      width: 100%;
      left: 0;
    }
  }
}

.timeline-box a {
  color: $borderColor;
}

.timeline-box li {
  font-size: clamp(0.75rem, 0.95vw, 0.95rem);
}

.timeline-box-list {
  text-align: left;
  list-style: none;
  flex: 2;
  border: 3px solid $borderColor;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  padding-right: 15px;
  h5 {
    font-size: clamp(0.7rem, 0.9vw, 1rem);
    color: $backgroundSecondaryColor;
  }
}

.timeline-box-keynotes {
  list-style: square;
  margin: 10px 0;
  margin-left: 0;
  padding-left: 1.3rem;
  font-size: clamp(0.88rem, 1vw, 0.95rem);
}

@media (max-width: 768px) {
  .timeline-box {
    flex-direction: column;
  }

  .timeline-box-description {
    flex-direction: column;
    flex: 1;
    align-content: center;
    white-space: nowrap;
    border: 3px solid $borderColor;
    border-bottom-left-radius: 0px;
    border-bottom: none;
    border-top-right-radius: 20px;
  }

  .timeline-box-list {
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-top-right-radius: 0px;
  }
}
