<div class="container">
  <header class="experiences-heading">
    <h1>
      {{ experiences.myJourneyHeader }}
    </h1>
  </header>
  <div class="row">
    <section class="col">
      <header class="timeline-title">
        <h2>
          {{ experiences.academicJourneyHeader }}
        </h2>
      </header>
      <div class="timeline-content">
        @for (experience of experiences.academicExperience; track experience.centerName) {
        <div class="timeline-box" (click)="openLink(experience.centerLink)">
          <h4>{{ experience.desc }}</h4>
          <h3>{{ experience.centerName }}</h3>
          <p>{{ experience.keyNotes }}</p>
        </div>
        }
      </div>
    </section>

    <section class="col">
      <header class="timeline-title">
        <h2>
          {{ experiences.workJourneyHeader }}
        </h2>
      </header>
      <div class="timeline-content">
        @for (experience of experiences.workExperience; track experience.companyName) {
        <div class="timeline-box" (click)="openLink(experience.companyLink)">
          <h4>{{ experience.role }}</h4>
          <h3>{{ experience.companyName }}</h3>
          @for (keyNotes of experience.keyNotes; track keyNotes) {
          <ul class="timeline-box-key-notes">
            <li>{{ keyNotes }}</li>
          </ul>
          }
        </div>
        }
      </div>
    </section>
  </div>
</div>
