:root {
  /* Button colors */
  --buttonColor: #3BEA7F;
  --buttonHover: #3BEA7F;

  /* Text */
  --textColor: #f5f5f5;
  --subTitle: #f5f5f5;
  --appLink: #f5f5f5;

  /* Box shadows */
  --boxShadow: #3BEA7F;

  /* Borders */
  --progressBarBackground: rgb(243, 239, 239);
  --borderColor: #3BEA7F;

  /* Hovers */
  --headerHoverBG: #8c43ce;
  --contactDetailHoverTS: #b5b5b5;
  --socialMediaHoverBG: #3BEA7F;

  /* Backgrounds */
  /*--background: #1c1c20;*/
  --background: #252423;
  --backgroundSecondaryColor: #3BEA7F;
  --appHeaderBG: #3BEA7F;
  --themeToggleBackground: #3BEA7F;
  --themeToggleIcon: #f5f5f5;
  --scrollbarTrack: #141414;
  --scrollbarThumb: #3BEA7F;

  /* Social media icons */
  --linkedin: #0e76a8;
  --github: #333;
}

html.light-theme {
  --background: #EDE9DC;
  --backgroundSecondaryColor: #006B4F;
  --appHeaderBG: #006B4F;
  --textColor: #202124;
  --subTitle: #202124;
  --appLink: #202124;
  --borderColor: #006B4F;
  --boxShadow: #006B4F;
  --progressBarBackground: #4b4b4b;
  --headerHoverBG: #d7eaff;
  --contactDetailHoverTS: #5f6368;
  --socialMediaHoverBG: #006B4F;
  --themeToggleBackground: #006B4F;
  --themeToggleIcon: #EDE9DC;
  --scrollbarTrack: #e2e5e8;
  --scrollbarThumb: #006B4F;
}

@font-face {
  font-family: "Roboto";
  src:
    local("Roboto"),
    url("../public/fonts/Roboto-Regular.ttf") format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "Megrim";
  src:
    local("Megrim"),
    url("../public/fonts/Megrim-Regular.ttf") format("truetype");
  font-display: swap;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

html {
  font: 20px / 23px Roboto,"Roboto",sans-serif;
  font-size: 20px;
  text-size-adjust: none;
  -webkit-text-size-adjust: none;
  scrollbar-color: var(--scrollbarThumb) var(--scrollbarTrack);
}

body {
  font: inherit;
  scroll-behavior: smooth;
  margin: 0;
  background: var(--background);
  transition: background-color 0.25s ease-in-out;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

::-webkit-scrollbar {
  width: 0.6rem;
}

::-webkit-scrollbar-track {
  background: var(--scrollbarTrack);
  transition: background-color 0.25s ease-in-out;
}

::-webkit-scrollbar-thumb {
  background: var(--scrollbarThumb);
  border-radius: 100vw;
  transition: background-color 0.25s ease-in-out;
}
