:root {
  /* Button colors */
  --buttonColor: #3BEA7F;
  --buttonHover: #3BEA7F;

  /* Text */
  --textColor: #f5f5f5;
  --subTitle: #f5f5f5;
  --appLink: #f5f5f5;

  /* Box shadows */
  --boxShadow: #3BEA7F;

  /* Borders */
  --progressBarBackground: rgb(243, 239, 239);
  --borderColor: #3BEA7F;

  /* Hovers */
  --headerHoverBG: #8c43ce;
  --contactDetailHoverTS: #b5b5b5;
  --socialMediaHoverBG: #3BEA7F;

  /* Backgrounds */
  /*--background: #1c1c20;*/
  --background: #252423;
  --backgroundSecondaryColor: #3BEA7F;
  --appHeaderBG: #3BEA7F;
  --appHeaderTextColor: #1c1c20;

  /* Social media icons */
  --linkedin: #0e76a8;
  --github: #333;
}

@font-face {
  font-family: "Roboto";
  src:
    local("Roboto"),
    url("../public/fonts/Roboto-Regular.ttf") format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "Megrim";
  src:
    local("Megrim"),
    url("../public/fonts/Megrim-Regular.ttf") format("truetype");
  font-display: swap;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

html {
  font: 20px / 23px Roboto,"Roboto",sans-serif;
  font-size: 20px;
  text-size-adjust: none;
  -webkit-text-size-adjust: none;
}

body {
  font: inherit;
  scroll-behavior: smooth;
  margin: 0;
  background: #1a1a1d;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

::-webkit-scrollbar {
  width: 0.6rem;
}

::-webkit-scrollbar-track {
  background: #141414;
}

::-webkit-scrollbar-thumb {
  background: #3BEA7F;
  border-radius: 100vw;
}
